product_details.dtd

<?xml encoding="UTF-8"?>

<!ELEMENT CATALOG (CD)+>
<!ATTLIST CATALOG
  xmlns CDATA #FIXED ''>

<!ELEMENT CD (CATEGORY,NAME,CERTIFICATION,TICKETPRICE)>
<!ATTLIST CD
  xmlns CDATA #FIXED ''>

<!ELEMENT CATEGORY (#PCDATA)>
<!ATTLIST CATEGORY
  xmlns CDATA #FIXED ''>

<!ELEMENT NAME (#PCDATA)>
<!ATTLIST NAME
  xmlns CDATA #FIXED ''>

<!ELEMENT CERTIFICATION (#PCDATA)>
<!ATTLIST CERTIFICATION
  xmlns CDATA #FIXED ''>

<!ELEMENT TICKETPRICE (#PCDATA)>
<!ATTLIST TICKETPRICE
  xmlns CDATA #FIXED ''>
